<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
      </div>
      <div class='table-responsive'>
        <table class='table' *ngIf="products.length">
          <thead>
            <tr>
              <th>Products
              </th>
              <th>
                <div class="product-header">Description</div>
              </th>
              <th>Sale</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total in Cart</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>
                <img [src]="product.imageUrl"
                  [title] = "product.name"
                  [style.width.px] = "imageWidth"
                  [style.margin.px] = "imageMargin">
              </td>
              <td>{{product.name}}, <br> {{productInStock(product)}}</td>
              <td>{{product.onSale}}</td>
              <td>
                <button class='btn btn-primary' (click)="addQty(product)">+</button>
                {{product.qty}}
                <button class='btn btn-primary' (click)="subtractQty(product)">-</button>
              </td>
              <td>{{product.price | currency}}</td>
              <td>{{product.price * product.qty | currency}}</td>
            </tr>
            <tr>
              <td colspan="6">Total: {{cartQty() > 0 ? cartFinalPrice() : '0' | currency}}</td>
            </tr>
            <tr>
              <td colspan="6">Total items in cart : {{cartQty()}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
